.five-day-forecast__daily {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}
.five-day-forecast__daily h3 {
	margin-bottom: 0.5rem;
}

.five-day-forecast__daily--icon-phrase {
	margin-top: 1rem;
}
