.city-location {
	padding: 2rem;
	width: 100%;
	height: 4rem;
	background-color: white;
	display: flex;
	align-items: center;
	border-radius: 1rem;
}

.city-location h2 {
	color: grey;
	font-size: 1.8rem;
	vertical-align: middle;
}
